.NavBar{
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 60px;
  background-color: #efefef;
}

.navElement{
  width: 100px;
  height: 100%;
  text-align: center;
}

.normal:hover{
  box-shadow: inset 0px 0px 5px #000;
}

.navSpacer{
  width: 270px;
  height: 100%;
  border-radius: 60px;
}

h4{
  position: relative;
  top: 20px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

h4:hover{
  cursor: default;
}

@media (max-width: 980px) {
  .NavBar{
    height: 50px;
  }

  .navElement{
    width: 85px;
  }

  h4{
    top: 16px;
    font-size: 16px;
  }

  .navSpacer{
    width: 205px;
    border-radius: 50px;
  }
}

@media (max-width: 730px) {
  .NavBar{
    height: 34px;
  }

  .navElement{
    width: 65px;
  }

  h4{
    top: 10px;
    font-size: 10px;
  }

  .navSpacer{
    width: 132px;
    border-radius: 35px;
  }
}

@media (max-width: 482px) {
  .NavBar{
    height: 28px;
  }

  .navElement{
    width: 58px;
  }

  h4{
    top: 8px;
    font-size: 10px;
  }

  .navSpacer{
    width: 93px;
    border-radius: 30px;
  }
}
